
snippet formula "insert formula" b

<!--START formula-->
  <div class="formula">
    $$ ${1:formula} $$
  </div>
<!--END formula-->

endsnippet

snippet figure "insert figure" b

<!--START figure-->
<div class="figure">
  <a href="">
    <img src="${1:url}" width="${2:60}%" alt="${3:alt}" referrerPolicy="no-referrer"/>
  </a>
</div>
<!--END figure-->

endsnippet

snippet code "insert code block" b

<!--START codeblock-->
```python
$1
```
<!--END codeblock-->

endsnippet

